page-register {
    .register-page {
        background-color: black;
    }

    #regButton{
        background-color: #e20714;
    }
    
    .label-md[stacked], .label-md[floating]{
        color: white;
    }
    
    .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
        color: white; //label color when focusing
    } 
    
    #inputText{
        background-color: black;
        color: white;
    }
}
