page-account-manager {
    .accountContainer{
        background-color: black;
        color: white; 
    }

    .toolbar-background {
        background-color: #e20714;
    }

    .bar-button{
        color: white;
    }
}
