page-home{

    .login-page {
        background-color: black;
    }
    
    .socialMediaLogin{
        color:white;
    }
    
    #logButton{
        background-color: #e20714;
    }
    
    .label-md[stacked], .label-md[floating]{
        color: white;
    }
    
    .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
        color: white; //label color when focusing
    } 
    
    #inputText{
        background-color: black;
        color: white;
    }

    #regText{
        color:white;
    }

    #regText>a{
        cursor: pointer;
    }

    .logInIcon {
        font-size: 4em;
        text-align: center;
    }
}



