navbar {
    .toolbar-title-md{
        color: white;
        font-family: roboto;
    }
    .toolbar-title-ios{
        color: white;
        font-family: roboto;
    }
    .toolbar-background {
        background:#e20714;
      }
      ion-card-content{
        background:#e20714;    
      }
}
