user-popover {
    .pop-list{
        background-color: #e20714;
        border-color: black;
    }

    .pop-header{
        background-color: black;
        color: white;
    }

    .pop-button{
        background-color: black;
        color: white;
    }

    .popover-viewport {
        background-color: black;
    }

    .pop-list{
        background-color: black;
    }
}
