accordion {

    .card-header{
        background-color: #e20714;
        color: #fff;
        height:100%;
    }
    .card-content{
        padding: 0px 0x;
        max-height: 5px;
        height:100%;
    }
    button{
        background-color: #e20714;   
        color: #fff;
    }
    ion-title{
        text-align :     center; 
        }
    #menuButton{
        background-color: #e20714;   
    }
}
